@model List<CodeClinic.Models.DiaqnosticServis>


<div class="row">

    @foreach (var item in Model)
    {<div class="service-block col-lg-4 col-md-6 col-sm-12">
    <div class="inner-box">
        <span class="icon @item.Photo"></span>
        <h5><a href="#">@item.Title</a></h5>
        <div class="text">@item.Desc</div>
    </div>
</div>

    }
    <!-- Service Block -->
    

    
</div>