

<!DOCTYPE html>
<html>



<body class="hidden-bar-wrapper">

    <div class="page-wrapper">

        <!-- Preloader -->
        <div class="preloader"></div>

        <!-- Coming Soon -->
        <section class="coming-soon" style="background-image: url(/Uploads/background/9.jpg);">
            <div class="">
                <div class="row">
                    <div class="content-column col-lg-7 offset-6 col-md-12 order-2">
                        <div class="content">
                            <div class="content-inner">
                                <div class="logo"><a href="index-2.html"><img src="~/Uploads/logo.png" alt="" /></a></div>
                                <h2>We Are Working</h2>
                                <h4>How long you ask? We are going live on!</h4>
                                <div class="time-counter">
                                    <!-- Time Countdown -->
                                    <div class="time-countdown clearfix" data-countdown="2021/11/1"></div>
                                </div>

                                <!--Emailed Form-->

                            </div>
                        </div>
                    </div>
                    <div class="image-column col-lg-5 col-md-12">
                        <div class="bg-shape"></div>
                        <figure class="image"><img src="~/Uploads/resource/cs-img.png" alt=""></figure>
                        <!-- Clock / Bg Clock -->

                    </div>
                </div>
            </div>
        </section>
        <!-- End Coming Soon -->

    </div>
    <!--End pagewrapper-->
    <!--Scroll to top-->
    <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-arrow-up"></span></div>


    <!-- Color Palate / Color Switcher -->


</body>

</html>
